{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "prettier/standard",
    "prettier/react"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
    "space-before-function-paren": 0,
    "react/prop-types": 0,
    "react/jsx-handler-names": 0,
    "react/jsx-fragments": 0,
    "react/no-unused-prop-types": 0,
    "import/export": 0,
    "semi": ["error", "always"],
    "keyword-spacing": ["error", { "after": false , "overrides": { "const": { "after": true }, "let": { "after": true }, "import": { "after": true }, "return": { "after": true }, "from": { "after": true }, "export": { "after": true } } }],
    "jsx-quotes": ["error", "prefer-double"]
  }
}
